name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.x.x

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Check
        run: bun run check

      # note: Maybe type checking is done at build.
      - name: Type check
        run: bun run check:type

      - name: Build
        run: bun run build
